html,
body {
  padding: 0;
  margin: 0;
  font-family: lores-12, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, button {
  font-family: lores-12, sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --level-size: 500px;
  --tile-size: calc(var(--level-size) / 20);
  --helmet-offset: calc(var(--tile-size) / 4);
  --sprite-size: calc(var(--tile-size) * 4);
  --updown: 0%;
  --leftright: 0%;
  --controls: calc(var(--level-size) / 1.5);
  --heroTop: 300px;
  --active: absolute;
  --hide: block;
}

@media screen and (max-width: 479px) {
  :root {
    --level-size: 300px;
  }

  .pu-con p {
    font-size: 1rem !important;
    color: #fff;
    line-height: 1rem !important;
    padding: 5% 2%;
  }

  .play-button {
    width: 350px;
    height: 46px !important;
    font-size: 1rem !important;
}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(129, 129, 129);
  background-image: url("../public/GameBackground.png");
  background-repeat: repeat;
  /* background-size: cover;
  background-position: center; */
}

.level {
  max-width: var(--level-size);
  height: auto;
  position: relative;
  margin: 0 auto;
}

.levelCon {
max-width: var(--level-size);
height: auto;
position: relative;
margin: 0 auto;
}

.board {
  width: 100%;
  height: 100%;
  position: relative;
}

.board-img {
  width: 100%;
  height: 100%;
}

.chest1 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 1;
  background-image: url("../public/Gem_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.chest2 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 1;
  background-image: url("../public/Gem_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.chest3 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 1;
  background-image: url("../public/Gem_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.chest4 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 1;
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  top: var(--herotop);
}

@keyframes chest-animation {
  from {
      background-position-x: 0;
  }

  to {
      background-position-x: -96px;
  }
}

.forniture {
  width: var(--tile-size);
  height: var(--tile-size);
  position: absolute;
}



.hero {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 1;
  background-image: url("../public/Rade_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.rade {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: var(--active);
  display: var(--hide);
  z-index: 2;
  background-image: url("../public/Rade_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.zeek {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 2;
  background-image: url("../public/Zeek_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.forah {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 2;
  background-image: url("../public/Forah_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

.theo {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  position: absolute;
  z-index: 2;
  background-image: url("../public/Theo_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: heroAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
  top: var(--herotop);
}

@keyframes heroAnimation {
  from {
      background-position-x: 0;
  }

  to {
      background-position-x: calc(-1 * var(--tile-size) * 4);
  }
}

.merchant1 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  z-index: 1;
  position: absolute;
  background-image: url("../public/Merchant_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: miniDemonAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
}

.merchant2 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  z-index: 1;
  position: absolute;
  background-image: url("../public/Merchant_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: miniDemonAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
}

.merchant3 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  z-index: 1;
  position: absolute;
  background-image: url("../public/Merchant_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: miniDemonAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
}

.merchant4 {
  width: var(--tile-size);
  height: calc(var(--tile-size) + var(--helmet-offset));
  z-index: 1;
  position: absolute;
  background-image: url("../public/Merchant_Sprite.png");
  background-repeat: no-repeat;
  background-size: var(--sprite-size);
  animation: miniDemonAnimation 1s steps(4) infinite;
  transform: translateY(calc(-1 * var(--helmet-offset)));
  background-position: 0 calc(-1 * var(--tile-size) + var(--helmet-offset));
}

@keyframes miniDemonAnimation {
  from {
      background-position-x: 0;
  }

  to {
      background-position-x: calc(-1 * var(--tile-size) * 4);
  }
}

.trap {
  width: var(--tile-size);
  height: var(--tile-size);
  position: absolute;
  background-image: url("https://github.com/LucasLevino/Heroway/blob/main/src/assets/imgs/trap.png?raw=true");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  animation: trapAnimation 1s steps(8) infinite;
}

@keyframes trapAnimation {
  from {
      background-position-x: 0;
  }

  to {
      background-position-x: -384px;
  }
}

/* Game Boy */

.bg {
  background-color: #1d1d1d;
}


.gb {
  background-image: url("../public/gbtile.png");
  background-size: 64px 64px;
  background-color: var(--color-gb);
  margin: 0;
  max-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: inset 22px -27px 17px -13px rgb(0 0 0 / 40%), inset -21px 21px 26px -19px rgb(0 0 0 / 30%), -9px 58px 205px -19px rgb(0 0 0 / 50%), -90px 198px 205px -19px rgb(0 0 0 / 20%);
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

section {
  display: block;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.gb-bar {
  position: relative;
  width: 100%;
  margin: 50px 0 20px;
  height: 6px;
  z-index: 0;
  opacity: .7;
  margin-bottom: 6px;
  box-shadow: inset -4px -1px 4px 0 rgb(0 0 0 / 60%), inset 4px -1px 4px 0 rgb(255 255 255 / 60%), -1px 1px 1px 0 rgb(255 255 255 / 80%);
}

.gb-bar:before {
  right: 100px;
  left: 100px;
  content: '';
  position: absolute;
  z-index: 1;
  width: 6px;
  height: 50px;
  top: -50px;
  background: #535353;
  box-shadow: inset -4px -1px 4px 0 rgb(0 0 0 / 5%), inset 4px -1px 4px 0 rgb(255 255 255 / 80%), -1px 1px 1px 0 rgb(255 255 255 / 80%);
}

.gb-bar:after {
  right: 100px;
  content: '';
  position: absolute;
  z-index: 1;
  width: 6px;
  height: 50px;
  top: -50px;
  background: #505050;
  box-shadow: inset -4px -1px 4px 0 rgb(0 0 0 / 5%), inset 4px -1px 4px 0 rgb(255 255 255 / 80%), -1px 1px 1px 0 rgb(255 255 255 / 80%);
}


.name-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding: 10px 0;
}

.music {
  background-color: #a9a9a9;
  z-index: 1;
  margin-right: 40px;
  padding: 0 10px 0 10px;
}

.music a {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-family: forma-djr-deck, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  line-height: 0.8rem;
}

.gb-screen {
  position: relative;
  margin: 0 auto;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 20px;
  box-shadow: inset 1px -1px 1px 0 rgb(0 0 0 / 25%), inset -1px 1px 1px 0 rgb(255 255 255 / 90%);
  display: block;
  background: #a9a9a9;
}


.screen-inner {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  border: 10px solid #000;
  height: auto;
  background: #1a1c2c;
  box-shadow: -1px 1px 1px 0 rgb(255 255 255 / 70%);
  margin: 0 auto;
  position: relative;
}

.screen-top {
  max-width: 100%;
  overflow: visible;
  height: 12px;
  transform: translateY(0px);
  margin: 0 0 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.screen-top::before {
  bottom: 2px;
  background: #1a2b4f;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
}

.screen-top::after {
  top: 2px;
  background: #7b2753;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
}

.screen-top p {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  right: 8%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  padding: 5px 10px;
  background: #a9a9a9;
}

.username h4 {
  font-size: 18px;
}

.username h3 {
  font-size: 14px;
  padding-bottom: 5px;
}

.gb-dpad {
  left: 0;

  /* top: 585.325px; width: 301.6px; height: 235px; */
}

.gb-buttons {
  right: 0;
  will-change: transform;
  /* top: 585.325px; width: 301.6px; height: 235px; */
}

.updownimg {
  will-change: transform;
  height: 100%;
  width: auto;
  transform: translateX(var(--updown));
}

.leftrightimg {
  will-change: transform;
  height: 100%;
  width: auto;
  transform: translateX(var(--leftright));
}

.touchcon {
  position: absolute;
  height: var(--controls);
  width: var(--controls);
  z-index: 2;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.touchup {
  height: calc(var(--controls) / 2);
  width: var(--controls);
}

.touchdown {
  height: calc(var(--controls) / 2);
  width: var(--controls);
}

.touchleft {
  height: var(--controls);
  width: calc(var(--controls) / 2);
}

.touchright {
  height: var(--controls);
  width: calc(var(--controls) / 2);
}

.dpad-inner {
  overflow: hidden;
  height: var(--controls);
  width: var(--controls);
  left: 30.1625px;
  bottom: 0px;
}

.buttons-inner {
  overflow: hidden;
  height: var(--controls);
  width: var(--controls);
  right: 30.1625px;
  bottom: 0px;
}

.img-con {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}


.stop-watch{
	height: 40px;
	width: 150px;
	background-color: #dadada;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  border-radius: 20px;
}

.timer{
	display: flex;
	justify-content: center;
	align-items: center;
}

.digits{
	font-size: 18px;
	color: #080808;
}

.mili-sec{
	color: #919191;
}

<pre>.Control-Buttons {
  margin: 3rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

  .btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 14px;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #e42a2a;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f5f5f5;
  }

  .btn-one{
    background-color: #e42a2a;
  }

  .popup {
    max-width: var(--level-size);
    height: auto;
  }
  .pu-con {
    width: var(--level-size);
    height:var(--level-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    top: 0;
    padding: 20px;
  }

  .pu-con p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 2rem;
    padding: 5% 2%;
  }

  .pu-con h4 {
    font-size: 2.5rem;
    color: #fff;
    line-height: 2rem;
  }

  .pu-con li {
    font-size: 1rem;
    color: #fff;
    line-height: 1rem;
  }

  .board-con {
    width: var(--level-size);
    height:var(--level-size);
    overflow: scroll;
  }

  .lb-time-con {
    display: flex;
    flex-direction: row;
    padding: 0 calc(var(--tile-size) *2);
    padding-bottom: 10px;
  }


  .lb-name {
    display: flex;
    width: 65%;
  }

  .lb-name h4 {
    font-size: 1.4rem;
  }

  .lb-time {
    display: flex;
    width: 35%;
    justify-content: flex-end;
  }

  .lb-time h4 {
    font-size: 1.4rem;
    text-align: right;
  }

  .start-button {
    width: 350px;
  height: 80px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: url("../public/TwitterButton.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
z-index: 1;
top: 70%;
background-color: transparent;
cursor: pointer;
border: 0px;
font-size: 20px;
  }

  .play-button {
    width: 350px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-image: url("../public/Button_Success.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
text-align: center;
background-color: transparent;
cursor: pointer;
border: 0px;
font-size: 20px;
  }

  .back-button {
    width: 350px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-image: url("../public/Button-Back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
text-align: center;
background-color: transparent;
cursor: pointer;
border: 0px;
font-size: 20px;
  }

.leaderboard-but {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.lb-but {
  background-color: #c2fffe;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.scores-but {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.s-but {
  background-color: #c2fffe;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.opi-logo {
  width: calc(var(--level-size)/1.5)
}
